<h1>Dogs</h1>

<hr>
<% @dogs.each do |dog| %>
  <h2><%= link_to dog.name, dog_path(dog) %></h2>
  <p>Found the <%= dog.found_on %> at <%= dog.city %></p>
  <%= image_tag dog.image, alt: "alttext", height: '80px' %>

  <hr>
<% end %>
<hr>
<%= link_to "+ Add dog", new_dog_path %>
<hr>
